coacd==1.0.7
imageio==2.37.0
manifold3d==3.2.0
matplotlib==3.10.3
mujoco==3.3.2
numpy==2.3.1
open3d==0.19.0
Pillow==11.3.0
plotly==6.0.1
protobuf==6.31.1
pybind11==2.13.6
PyMCubes==0.1.6
pyrender==0.1.45
pytest==8.4.1
Requests==2.32.4
scikit_learn==1.7.0
scipy==1.16.0
setuptools==78.1.1
trimesh==4.6.6
wrapper==1.1.0b1
vhacdx==0.0.8.post2
seaborn==0.13.2
playwright==1.54.0
pytest-playwright==0.7.0